{%extends "registration/base.html"%} 
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn blue-gradient btn-sm">LOG IN</button>
            </form>
            <p>Don't have an account?<a href="/accounts/register">Sign up here</a></p>
            <p><a href="/accounts/password/change">Forgot your Password ?</a></p>
        </div>
    </div>
</div>
{% endblock %}